//.container {
  //display: flex;
  //flex-direction: row;
//}

/* Partie gauche de la page */
.left__container {
  width: 50%;
  text-align: center;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
}

.desc__img {
  width : 300px; height : 300px;
  border: none;
  -moz-border-radius : 150px;
  -webkit-border-radius : 150px;
  border-radius : 150px;
   //text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-left: 25%;
}

.left__text__container {
  background-color: #faded7;
  width: 55%;
  height: auto;
  margin: 3rem;

  //sur smarthpone le text n'appraît pas
  visibility: hidden; 
  display: none; 
}

.left__text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 1.5rem;
}

/* Partie droite de la page ici le form */ 

.right__container {
  height: 80vh;
  text-align: center;
  margin: 2rem 2rem 5rem 2rem;
  background-color: #FFF;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form__title {
  font-size: 2rem;
  padding: 1.4rem;
}
