@use 'src/styles/vars';

/* .leaflet-container{
  width: 100%;
  height: 100%;
  //margin: auto;
} */

.empty-list{
  margin: auto;
  max-width: 75%;
  text-align: center;
  font-size: calc(vars.$gutter*1.5);
}
.services{
  margin-bottom: calc(vars.$gutter*4);
  &-title{
    text-align: center;
    font-size: calc(vars.$gutter*1.25);
    margin-top: calc(vars.$gutter*2);
    margin-bottom: calc(vars.$gutter*1.5);
  }
  &-map{
    width: 75%;
		height: 400px;
    margin-bottom: calc(vars.$gutter*1.5);
  }
  
}

@media (min-width: vars.$breakpoint-md) {
  /* .leaflet-container{
    width: 100vw;
    height: 100vh;
    
  } */
  
  .services {
   
    &-container{
      display: flex;
      flex-direction: row-reverse;
    }
    
	}
}
