@use 'src/styles/vars';

h1 {
  text-align: center;
  margin:2rem 0 2rem 0 ;
  font-size: 1.7rem;
  @media (min-width: vars.$breakpoint-sm){
    padding: 2rem;
    line-height: 2rem;
  }

}
p {
  text-align: center;
  margin:2rem 0 2rem 0 ;
  font-size: 1.2rem;
  @media (min-width: vars.$breakpoint-sm){
    border: solid rgb(247, 90, 43) 1px;
    padding: 1rem;
    width: 60%;
  }
}

.prof__img {
  width : 300px; 
  height : 300px;
  border: none;
  -moz-border-radius : 150px;
  -webkit-border-radius : 150px;
  border-radius : 150px;
   //text-align: center;
   margin-left: 14%;
  padding: 1.5rem;
  
  @media (min-width: vars.$breakpoint-sm){
    margin-left: 0%;
  }
}

.container__prof {
  @media (min-width: vars.$breakpoint-sm){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container__top {
  @media (min-width: vars.$breakpoint-sm){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
}

.container__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 33%;
  @media (min-width: vars.$breakpoint-sm){
    margin: 2rem 0 2rem 0;
  }
  
}

.container_ann {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 33%;
  @media (min-width: vars.$breakpoint-sm){
    border-radius: 20px;
    background-color: white;
    margin: 2rem 0 2rem 0;
  }

}

.container__ann__fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 33%;
  @media (min-width: vars.$breakpoint-sm){
    margin: 2rem 0 2rem 0;
  }
}

.card__name {
  margin-left: 32%;
}

.proposed__img {
  width : 200px; 
  height : 200px;
  border: none;
  -moz-border-radius : 100px;
  -webkit-border-radius : 100px;
  border-radius : 50px;
   //text-align: center;
   margin-left: 14%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  @media (min-width: vars.$breakpoint-sm){
    margin-left: 13%;
  }
}

.connect-button-p {
  color: white;
    padding: calc(vars.$gutter/1.5);
    font-size: vars.$gutter;
    background-color: rgb(255, 112, 87);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: calc(vars.$gutter*2);
    transition: .3s;
    &:hover{
      background-color: lighten($color: rgb(255, 112, 87), $amount: 10%);
    }
    @media (min-width: vars.$breakpoint-sm){
      width: 80%;
      margin-left: 10%;
    }
}
