@use 'src/styles/vars';

.categories{
  margin-bottom: calc(vars.$gutter*4);

  &-quote{
    margin-top: calc(vars.$gutter*2.5);
    margin-bottom: vars.$gutter;
    text-align: center;
    font-size: calc(vars.$gutter*1.25);
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: calc(vars.$gutter*3);
  }
}
