
.NavBarItems {
  background: #FFF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 3px 7px -2px #000000;
  z-index: 500;
}

.navLogoLink {
  flex-grow: 1;
}

.NavBarLogo {
  width: 40%;
  height: auto;
  color: rgb(0, 0, 0);
  justify-self: start;
  margin-left: 2rem;
  cursor: pointer;
  max-width: 40%;
}


.NavMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navLinks {
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;

  &::after {
    position: absolute;
          
          content: "";
          left: 0;
          width: 100%;
          height: 0.2rem;
          background: #F79D86;
          transition: 0.3s;
          bottom: 0;
          transform: scaleX(0);
  }
  &--active {
    &::after {
      transform: scaleX(1);
    }
  }
}

.navLinks:hover {

  &::after {
    transform: scaleX(1);
  }
}

.fa-bars {
  color: black;
}

.MenuIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavBarItems {
    position: relative;
  }

  .NavMenu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 360px;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  }

  .navMenuActive {
    background: #FFF;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .NavLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  
  }

  .navLinks:hover {
    
    border-radius: 0;
  }

  .NavBarLogo {
    position: absolute;
    width: 35%;
    max-width: 150px;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);

  }

  .MenuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-bars {
    padding-top: 0.5rem;
  }

  .fa-times {
    font-size: 2rem;
    
  }



}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
}
