@use 'src/styles/vars';

.tags{
  display: flex;
  padding-left: calc(vars.$gutter/2);
}
.tag{
  background-color: vars.$secondary-color;
  border: solid 1px white;
  border-radius: 50px;
  padding: calc(vars.$gutter/2.25);
  font-size: calc(vars.$gutter/1.5);
  color: white;
  margin-right: vars.$gutter;
  margin-top: vars.$gutter;
  margin-bottom: vars.$gutter;
  &-unselected{
    display: none;
  }
}

.card{
  border: solid 1px black;
  margin: auto;
  width: 330px;

  &-container{
    display: flex;
    
  }
  &-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-image-container{
    width: 100px; 
    height: 100px;
  }
  &-image{
    width: 100px; 
    height: 100px;
  }
}

