@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFECE7;
}

h1,h2,h3{ 
  font-family: 'Asap', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
